<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cosmos</title>
        <link rel="shortcut icon" type="image/png" href="/media/pictures/Bonecrest.png">
    <link rel="stylesheet" type="text/css" href="/static/cosmos/node_modules/bootstrap/dist/css/bootswatch.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/cosmos/css/main.css" />
	<script src = "/static/cosmos/js/scripts.min.js"></script>
</head>
<body>
<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#/home">Erevos</a>

    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="categories-nav" data-toggle="dropdown" href="#">Categories</a>
            <div class="dropdown-menu" id="categories-nav-list" aria-labelledby="categories-nav">
            </div>
        </li>
      </ul>
    <button type="button" id ="login-show" class="btn btn-secondary my-2 my-sm-0">Log In / Join</button>
    </div>
 </nav>
<div id="message">
</div>
<!--all stuff is here-->
<div class="card-group" id="main-content">
</div>
<!--modal for images-->
 <div class="modal" id="enlargeImageModal" tabindex="-1" role="dialog" aria-labelledby="enlargeImageModal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        </div>
        <div class="modal-body">
          <img src="" class="enlargeImageModalSource" style="width: 100%;">
        </div>
      </div>
    </div>
</div>
<!--modal for sign in-->
<div class="modal" id ="LoginModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sign In</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-body-login">
        <form name="login_form" id="login_form">
            <p><input type="text" class="form-control mr-sm-2" name="username" id="username_input" placeholder="Username"></p>
            <p><input type="password" class="form-control mr-sm-2" name="password" id="password_input"placeholder="Password"></p>
            <p><button type="button" id ="login_btn" class="btn btn-success">Sign in</button></p>
            <p><a id ="reset_pass_link" href="#">Forgot Password? Click here to reset </a></p>
        </form>
      </div>
      <div class="modal-footer"><span>Not registered yet?</span><button class="btn btn-secondary" id="reg-show">Sign Up</button>
      </div>
    </div>
  </div>
</div>

<!--modal for sign up-->
<div class="modal" id ="RegModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Sign Up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-body-reg">
        <form name="signup_form" id="reg_form">
            <p><input type="text" class="form-control mr-sm-2" name="username" id="reg_username_input" placeholder="Username"></p>
            <p><input type="password" class="form-control mr-sm-2" name="password1" id="reg_password_input1" placeholder="Password"></p>
            <p><input type="password" class="form-control mr-sm-2" name="password2" id="reg_password_input2" placeholder="Retype Password"></p>
            <p><input type="email" class="form-control mr-sm-2" name="email" id="reg_email_input" placeholder="Email"></p>
            <p><button type="button" id ="reg_btn" class="btn btn-success">Sign Up</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--modal for changing pass-->
<div class="modal" id ="ChangePassModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Change Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-body-change-pass">
        <form name="signup_form" id="change_pass_form">
            <p><input type="password" class="form-control mr-sm-2" name="old_password" id="ch_pass_old_input" placeholder="Old password"></p>
            <p><input type="password" class="form-control mr-sm-2" name="new_password1" id="ch_pass_new1_input" placeholder="New password"></p>
            <p><input type="password" class="form-control mr-sm-2" name="new_password2" id="ch_pass_new2_input" placeholder="Retype New Password"></p>
            <p><button type="button" id ="change_pass_btn" class="btn btn-success">Change Password</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--modal for sending email resetting pass-->
<div class="modal" id ="ResetPassModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Reset Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-body-reset-pass">
        <form name="signup_form" id="reset_pass_form">
           <p>Enter your email to get the token and uid in order to reset your password</p>
            <p><input type="email" class="form-control mr-sm-2" name="email" id="res_pass_email_input" placeholder="Email"></p>
            <p><button type="button" id ="reset_pass_btn" class="btn btn-success">Send Email</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--modal for reseting pass-->
<div class="modal" id ="DoResetPassModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Reset Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-body-do-reset-pass">
        <form name="signup_form" id="do_reset_pass_form">
            <p><input type="text" class="form-control mr-sm-2" name="uid" id="do_res_pass_uid_input" placeholder="UId"></p>
            <p><input type="text" class="form-control mr-sm-2" name="token" id="do_res_pass_token_input" placeholder="Token"></p>
            <p><input type="password" class="form-control mr-sm-2" name="new_password1" id="do_res_pass_pass1_input" placeholder="New Password"></p>
            <p><input type="password" class="form-control mr-sm-2" name="new_password2" id="do_res_pass_pass2_input" placeholder="Retype New Password"></p>
            <p><button type="button" id ="do_res_pass_btn" class="btn btn-success">Reset Password</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!--modal for verifying email-->
<div class="modal" id ="VerifyEmailModal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Verify Email</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="modal-body-verify-email">
        <form name="signup_form" id="verify_email_form">
            <p>Enter the key sent to you by Email</p>
            <p><input type="text" class="form-control mr-sm-2" name="key" id="verify_email_key_input" placeholder="Key"></p>
            <p><button type="button" id ="verify_email_btn" class="btn btn-success">Verify Email</button>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>