.card-img-top {
    max-height:300px;
    object-fit: cover;
    overflow: hidden;
}

.card {
    width: 20rem;
}

.card-title-detail {
    padding: 1rem 1rem;
}

.jumbotron {
    border-radius: 0px;
}

.card-text {
    padding: 0.5rem 0.5rem;
}